:root {
    --yellow:hsl(47, 88%, 63%);
    --white:hsl(0, 0%, 100%);
    --light-gray:hsl(0, 0%, 42%);
    --deep-gray:hsl(0, 0%, 7%)
;
}

* 
{
    font-family: Figtree,sans-serif;
}

body 
{
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


.card 
{
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: var(--white);
  padding: 20px;
  margin:10px;
  margin-block-end: 20px;
  transition: box-shadow 0.5s;
  border-radius: 20px;
  width: 350px;
 
    
}

.card:hover {
    box-shadow: 10px 10px;
}

.img-top {
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    background-color: var(--yellow);
    font-weight: bold;
    padding:10px;
    border: none;
    border-radius: 5px;
}

.author {
    /* background-color: teal; */
    display: flex;
}

.author h3 {
    /* background-color: rebeccapurple; */
    margin-left: 15px;

}

.attribution 
{
    font-size: 20px;
    text-align: center;
 }

.attribution a 
{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}